.Button {
    cursor: pointer;
    color: var(--inverted-primary-color);
    padding: 6px 15px;

    &:hover {
        opacity: 0.8;
        fill-opacity: 80%;
        stroke-opacity: 80%;
    }
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.outlineRed {
    background: none;
    border: 1px solid var(--red-light);
    color: var(--red-light);
}

.background {
    background: var(--bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.sizeM {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.square.sizeL {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
}

.square.sizeXL {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
}

.sizeM {
    font: var(--font-m);
}

.sizeL {
    font: var(--font-l);
}

.sizeXL {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.2;
}
