.BIG_PLATE {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL_PLATE {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.targetRef {
    height: 20px;
}

.ArticleList {
    gap: 10px;
    display: flex;
}
