.menu {
    background-color: var(--card-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    border: 1px solid var(--inverted-primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
}
