.ListBox {
    position: relative;
}

.options {
    position: absolute;
    z-index: 10000;
    background: var(--listbox-bg);
    border-radius: 10px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
    padding: 10px 20px;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}

.optionTop {
    bottom: 100%;
}
