.app_green_theme {
    --bg-color: #638206;
    --inverted-bg-color: #f6f9eb;
    --primary-color: #f6f9eb;
    --secondary-color: #386b05;
    --inverted-primary-color: #386b05;
    --inverted-secondary-color: #f6f9eb;
}
