.app_light_theme {
    --bg-color: rgb(202 197 197);
    --inverted-bg-color: rgb(29 28 28);
    --primary-color: rgb(110 40 40);
    --secondary-color: rgb(146 66 66);
    --inverted-primary-color: rgb(163 162 162);
    --inverted-secondary-color: white;

    // skeleton
    --skeleton-shadow: rgb(110 40 40);
    --skeleton-color: rgb(146 66 66);

    // copy
    --code-bg: rgb(245 237 237);
}
