.CommentItem {
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin-top: 10px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.avatar {
    margin-right: 10px;
}

.commentBody {
    margin-left: 5px;
    margin-top: 10px;
}
