.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    margin-top: 10px;
}

.input {
    margin: 10px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
