.Dropdown {
    position: relative;
}

.btn {
    cursor: pointer;
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
}

.menu {
    background-color: var(--card-bg);
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    border: 1px solid var(--inverted-primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px 15px;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionTopLeft {
    bottom: 100%;
    left: 0;
}

.optionTopRight {
    bottom: 100%;
    right: 0;
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}
