.AddNewComment {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    align-items: center;
    padding: 20px;
}

.input {
    flex-grow: 1;
    margin-right: 10px;
}
